<label for="preg">Pregunta: </label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" class="form-control" />
<label for="resp">Respuesta: </label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>" class="form-control" />
<br />
<input type="submit" value="Enviar" class="btn btn-default" />