<div class="panel panel-default">
	<div class="panel-heading">
		Editar pregunta:
	</div>
	<div class="panel-body">
		<form method="post" action="/quizes/<%= quiz.id %>?_method=put">
			<% include _form.ejs %>
		</form>
	</div>
	<div class="panel-footer">
		<p><a href="/quizes">Volver a todas las preguntas</a></p>
	</div>
</div>