<h1>Preguntas</h1><hr/>
<% for(var i = 0; i < quizes.length; i++) { %>
	<div class="panel panel-default">
		<div class="panel-heading">
			Pregunta <%= i + 1 %>
		</div>
		<div class="panel-body">
			<a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
		</div>
	</div>
<% } %>