<div class="panel panel-default">
	<div class="panel-heading">
		<%= quiz.pregunta %>
	</div>
	<div class="panel-body">
		<form method="get" action="/quizes/<%= quiz.id %>">
			<input type="text" name="respuesta" value="" />
			<input type="submit" value="Enviar" class="btn  btn-default" />
		</form>
	</div>
</div>