<h1>Preguntas</h1><hr/>
<div class="panel panel-default">
	<div class="panel-heading">
		<%= pregunta %>
	</div>
	<div class="panel-body">
		<form method="get" action="/quizes/answer">
			<input type="text" name="respuesta" value="" />
			<input type="submit" value="Enviar" class="btn  btn-default" />
		</form>
	</div>
</div>