<div class="panel panel-default">
	<div class="panel-heading">
		Login:
	</div>
	<div class="panel-body">
		<form method="post" action="/login">
			<label for="user">Usuario: </label>
			<input type="text" id="user" name="login" value="" class="form-control" />
			<label for="user">Contraseña: </label>
			<input type="password" id="pwd" name="pwd" value="" class="form-control" />
			<br />
			<input type="submit" value="Login" class="btn btn-default" />
		</form>
	</div>
</div>